-------------------------------------------------------------------------
-- Auteur    : S838981
-- Date      : 19/01/2022
-- Base      : Sql Server - mchn
-- Version	 : 1.0.0
-- Projet	 : OSE BDM
-- Objet     : refresh de la colonne machine rate
------------------------------------------------------------------------- 
USE [mchn]

UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18.00 WHERE CODE='02006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18.00 WHERE CODE='02004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.00 WHERE CODE='23001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18.00 WHERE CODE='04004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='23009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.4 WHERE CODE='04012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.4 WHERE CODE='02000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18.00 WHERE CODE='02002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=35 WHERE CODE='65021';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.40 WHERE CODE='35001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13.00 WHERE CODE='04005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=16 WHERE CODE='05000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13 WHERE CODE='60000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.7 WHERE CODE='21000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=17.00 WHERE CODE='04002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20.00 WHERE CODE='05004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='23012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14 WHERE CODE='05121';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.40 WHERE CODE='35017';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18 WHERE CODE='06000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18.00 WHERE CODE='02005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.90 WHERE CODE='50004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='23011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=11.40 WHERE CODE='26001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.4 WHERE CODE='04000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=23.00 WHERE CODE='04006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=11.50 WHERE CODE='40004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.4 WHERE CODE='74008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20 WHERE CODE='18152';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.9 WHERE CODE='60003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4 WHERE CODE='18100';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=55.00 WHERE CODE='07007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00246';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='01000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=25 WHERE CODE='50034';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18.00 WHERE CODE='02007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='02015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.8 WHERE CODE='31000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='01001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20.00 WHERE CODE='05002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='23000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50082';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31061';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.50 WHERE CODE='50009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='21053';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='24000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.50 WHERE CODE='50013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14 WHERE CODE='00663';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18.00 WHERE CODE='02003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20.00 WHERE CODE='05001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.00 WHERE CODE='27002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13.00 WHERE CODE='05005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.5 WHERE CODE='74000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6 WHERE CODE='05014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.8 WHERE CODE='33000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5 WHERE CODE='71000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='22000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='05009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='30000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35205';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20 WHERE CODE='05008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=55.00 WHERE CODE='07004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='21050';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31063';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='00652';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='05015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='06002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.1 WHERE CODE='50031';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.10 WHERE CODE='24008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.00 WHERE CODE='01008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.00 WHERE CODE='23010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18 WHERE CODE='06007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.40 WHERE CODE='27006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.10 WHERE CODE='50010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50081';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.4 WHERE CODE='74002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20.00 WHERE CODE='07001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.10 WHERE CODE='50028';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='03000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20 WHERE CODE='00654';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='74012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00665';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.5 WHERE CODE='50044';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='74017';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.4 WHERE CODE='74015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.3 WHERE CODE='27015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31065';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13.5 WHERE CODE='26000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4 WHERE CODE='18200';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='06004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.2 WHERE CODE='36000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.76 WHERE CODE='31011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.00 WHERE CODE='27003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='35202';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.5 WHERE CODE='50051';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.10 WHERE CODE='22011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00243';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='34000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6 WHERE CODE='50090';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='05010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50038';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18.00 WHERE CODE='02001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20.00 WHERE CODE='05003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='21016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13 WHERE CODE='00653';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13.00 WHERE CODE='04009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='74005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.60 WHERE CODE='71013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='21055';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='50062';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='74011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.9 WHERE CODE='00563';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.00 WHERE CODE='03005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.10 WHERE CODE='24006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='60018';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20 WHERE CODE='21054';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='25001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.2 WHERE CODE='36006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00661';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.70 WHERE CODE='24015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='01002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.50 WHERE CODE='50024';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='07006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=09.50 WHERE CODE='33028';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14 WHERE CODE='50039';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.4 WHERE CODE='00043';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='22001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='60010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.70 WHERE CODE='70001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='05053';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=24.00 WHERE CODE='24011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.1 WHERE CODE='50035';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00502';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='05061';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.2 WHERE CODE='32000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.26 WHERE CODE='31018';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=3.9 WHERE CODE='32003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.10 WHERE CODE='50025';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13.00 WHERE CODE='04010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.7 WHERE CODE='18111';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='05051';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.1 WHERE CODE='40001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.60 WHERE CODE='24001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='72000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='05060';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31045';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.50 WHERE CODE='23005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50054';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.00 WHERE CODE='01003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.76 WHERE CODE='31008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.7 WHERE CODE='35101';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.7 WHERE CODE='35107';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35204';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.2 WHERE CODE='32005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.00 WHERE CODE='34002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00601';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='00602';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='01005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='06001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.40 WHERE CODE='35018';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='33019';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50040';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='06005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.60 WHERE CODE='71012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.3 WHERE CODE='23013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.00 WHERE CODE='27001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='33025';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5 WHERE CODE='70000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.26 WHERE CODE='31005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='24040';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='74016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00503';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='06003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=22.9 WHERE CODE='50008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.5 WHERE CODE='50058';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50111';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=09.00 WHERE CODE='72006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20 WHERE CODE='00250';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.1 WHERE CODE='22003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.00 WHERE CODE='24020';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.2 WHERE CODE='36022';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='32012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.4 WHERE CODE='60001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13.00 WHERE CODE='04011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='21052';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.60 WHERE CODE='30004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='37008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.10 WHERE CODE='50002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.1 WHERE CODE='00013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=3.4 WHERE CODE='35011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.90 WHERE CODE='50006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.40 WHERE CODE='50033';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00244';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20.00 WHERE CODE='03014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18110';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.10 WHERE CODE='23003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.1 WHERE CODE='24010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.40 WHERE CODE='34011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='74007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='00564';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.50 WHERE CODE='03001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.1 WHERE CODE='22002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='27012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.9 WHERE CODE='60008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20 WHERE CODE='05101';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='23004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.50 WHERE CODE='24013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.90 WHERE CODE='24014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.60 WHERE CODE='71002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='21020';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='00664';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21023';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.6 WHERE CODE='22013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.10 WHERE CODE='24007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31017';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='35102';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.40 WHERE CODE='33010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='01007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.7 WHERE CODE='35106';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.40 WHERE CODE='33018';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.10 WHERE CODE='50015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.50 WHERE CODE='50023';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='22008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='00272';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18.00 WHERE CODE='03003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='05012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.10 WHERE CODE='23006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='30051';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='22006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.26 WHERE CODE='31012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.4 WHERE CODE='35501';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.5 WHERE CODE='73000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.10 WHERE CODE='23007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.10 WHERE CODE='24003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='35207';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.4 WHERE CODE='00108';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='33002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.1 WHERE CODE='50045';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.00 WHERE CODE='72004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='00604';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='00109';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='21015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='21051';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='22004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.60 WHERE CODE='30007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='71008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4 WHERE CODE='18050';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.4 WHERE CODE='35104';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='35306';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='33009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13.40 WHERE CODE='33012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50052';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50053';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='74003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00662';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='21021';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='05162';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.60 WHERE CODE='30013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.60 WHERE CODE='30016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35019';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='35305';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.10 WHERE CODE='50030';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.5 WHERE CODE='50091';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00241';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00559';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='24012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.5 WHERE CODE='24060';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.60 WHERE CODE='30001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='71001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.9 WHERE CODE='37004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50042';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.10 WHERE CODE='50014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.10 WHERE CODE='50022';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.10 WHERE CODE='50019';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.70 WHERE CODE='71009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='73006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.00 WHERE CODE='24018';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.60 WHERE CODE='30015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=03.40 WHERE CODE='30053';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.60 WHERE CODE='71005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='35302';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='33015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='33016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='34006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.9 WHERE CODE='37007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.10 WHERE CODE='50011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=03.60 WHERE CODE='50026';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5 WHERE CODE='50065';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.5 WHERE CODE='73005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.5 WHERE CODE='00561';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='00551';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.4 WHERE CODE='00103';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.9 WHERE CODE='21005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=03.40 WHERE CODE='37001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.70 WHERE CODE='26002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='25000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18141';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='35021';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13.40 WHERE CODE='33003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='60017';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.1 WHERE CODE='00558';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00659';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.1 WHERE CODE='00044';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='05013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='05056';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='29003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='22012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='27005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31031';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31041';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18080';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35402';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='33022';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='01004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.5 WHERE CODE='04013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='05016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18 WHERE CODE='06006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6 WHERE CODE='05055';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.60 WHERE CODE='24002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31064';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.4 WHERE CODE='35303';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.50 WHERE CODE='33006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.2 WHERE CODE='36007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.90 WHERE CODE='50032';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=35 WHERE CODE='50101';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='50061';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='00562';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00245';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.00 WHERE CODE='03007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5 WHERE CODE='24042';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='29002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.50 WHERE CODE='30008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='30019';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.60 WHERE CODE='71004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18130';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=3.5 WHERE CODE='35003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.85 WHERE CODE='33026';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=16.2 WHERE CODE='36002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.2 WHERE CODE='36015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.2 WHERE CODE='36021';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.9 WHERE CODE='32006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.40 WHERE CODE='34009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.40 WHERE CODE='34004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='60012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='60014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.00 WHERE CODE='72005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='74001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='00186';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='00655';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.9 WHERE CODE='00114';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.00 WHERE CODE='01006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.10 WHERE CODE='23002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.10 WHERE CODE='23008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13.40 WHERE CODE='33017';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50043';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.90 WHERE CODE='50007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.9 WHERE CODE='74004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='74014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00651';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='00506';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.6 WHERE CODE='00273';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='00153';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.90 WHERE CODE='00155';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='00212';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='21007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21017';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18090';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.75 WHERE CODE='29001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31042';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.40 WHERE CODE='34003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.9 WHERE CODE='37006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.10 WHERE CODE='50017';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50055';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.50 WHERE CODE='30003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.60 WHERE CODE='72008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.2 WHERE CODE='00187';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='00188';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.6 WHERE CODE='00041';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.6 WHERE CODE='00076';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.6 WHERE CODE='00011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='21011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.60 WHERE CODE='24016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.5 WHERE CODE='24062';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='27009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31046';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.76 WHERE CODE='31002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='33005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='32001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='32008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.50 WHERE CODE='30005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.60 WHERE CODE='30011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='74006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='27010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='00557';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='01009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='21012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='05151';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18120';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.76 WHERE CODE='31040';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.2 WHERE CODE='36003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.2 WHERE CODE='36014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.20 WHERE CODE='32010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='34007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.60 WHERE CODE='30012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=11.60 WHERE CODE='72007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=3.7 WHERE CODE='50057';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.9 WHERE CODE='00184';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='00554';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.4 WHERE CODE='00181';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.9 WHERE CODE='00101';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.6 WHERE CODE='00071';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.6 WHERE CODE='00079';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.6 WHERE CODE='00014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='00154';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='00271';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='00211';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18140';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.10 WHERE CODE='33001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.40 WHERE CODE='33008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=3.6 WHERE CODE='32011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=09.60 WHERE CODE='34008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.40 WHERE CODE='34010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.40 WHERE CODE='34005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=3.7 WHERE CODE='50056';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='74013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='00605';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='00182';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00566';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='00567';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='00214';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00568';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='00112';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.1 WHERE CODE='00046';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='00215';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='00667';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='00668';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21024';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='21056';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.4 WHERE CODE='21057';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='24043';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='50105';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.2 WHERE CODE='50104';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.5 WHERE CODE='50083';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50059';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.1 WHERE CODE='50092';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=1.582 WHERE CODE='99035';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='10000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.7 WHERE CODE='11000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.7 WHERE CODE='12000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='13000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='14000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='41000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='42000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='43000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='44000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='45000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='46000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='47000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='48000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.8 WHERE CODE='38000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.5 WHERE CODE='61000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.5 WHERE CODE='75000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='76000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='77000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='78000';

UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.40 WHERE CODE='02004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=09.00 WHERE CODE='23001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.40 WHERE CODE='04004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.4 WHERE CODE='04012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=35 WHERE CODE='65021';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15.00 WHERE CODE='04005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=16 WHERE CODE='05000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=16.00 WHERE CODE='05004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18 WHERE CODE='06000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.20 WHERE CODE='50004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='23011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14.4 WHERE CODE='04000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.60 WHERE CODE='40004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.4 WHERE CODE='74008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00246';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='02015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=16.00 WHERE CODE='05002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='23000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.60 WHERE CODE='50009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='21053';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14 WHERE CODE='00663';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=09.00 WHERE CODE='27002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.00 WHERE CODE='05005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.5 WHERE CODE='74000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='21050';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='00652';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.1 WHERE CODE='50031';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=09.60 WHERE CODE='01008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.00 WHERE CODE='23010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18 WHERE CODE='06007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.60 WHERE CODE='50010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50081';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.50 WHERE CODE='50028';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='03000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=13.5 WHERE CODE='26000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.2 WHERE CODE='36000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=09.00 WHERE CODE='27003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='35202';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00243';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=16.00 WHERE CODE='05003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='21016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='74005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='21055';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=09.10 WHERE CODE='24006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='60018';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.00 WHERE CODE='01002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='07006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=14 WHERE CODE='50039';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='22001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='05053';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.1 WHERE CODE='50035';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=3.9 WHERE CODE='32003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10.40 WHERE CODE='04010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.7 WHERE CODE='18111';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8 WHERE CODE='72000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='23005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50054';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.20 WHERE CODE='31008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00601';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=18.00 WHERE CODE='06001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.80 WHERE CODE='35018';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.80 WHERE CODE='33019';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50040';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.30 WHERE CODE='71012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.3 WHERE CODE='23013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.80 WHERE CODE='33025';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5 WHERE CODE='70000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='24040';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=22.9 WHERE CODE='50008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=20 WHERE CODE='00250';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.2 WHERE CODE='36022';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=15 WHERE CODE='21052';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.4 WHERE CODE='37008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.1 WHERE CODE='00013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=03.70 WHERE CODE='50033';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='00244';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18110';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.1 WHERE CODE='24010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.50 WHERE CODE='74007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9 WHERE CODE='00564';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.1 WHERE CODE='22002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.10 WHERE CODE='24013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=08.00 WHERE CODE='24014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.00 WHERE CODE='71002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='21020';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='31017';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='35102';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.00 WHERE CODE='01007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='31001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.7 WHERE CODE='35106';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=03.70 WHERE CODE='50015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.00 WHERE CODE='50023';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='22008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='05012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='30051';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=8.4 WHERE CODE='35501';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.50 WHERE CODE='24003';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='35207';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.1 WHERE CODE='50045';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12 WHERE CODE='00604';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='71008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4 WHERE CODE='18050';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.00 WHERE CODE='33012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50052';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.60 WHERE CODE='30016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35019';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.5 WHERE CODE='50091';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7 WHERE CODE='71001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='31009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.9 WHERE CODE='37004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.50 WHERE CODE='50022';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.50 WHERE CODE='50019';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.00 WHERE CODE='71009';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='73006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.60 WHERE CODE='30015';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=03.50 WHERE CODE='30053';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.30 WHERE CODE='71005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='35302';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.80 WHERE CODE='33016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.80 WHERE CODE='34006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.9 WHERE CODE='37007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=03.20 WHERE CODE='50026';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5 WHERE CODE='50065';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.50 WHERE CODE='26002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='25000';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='60017';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='31041';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18080';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.00 WHERE CODE='01004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.5 WHERE CODE='04013';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='31064';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=9.4 WHERE CODE='35303';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.2 WHERE CODE='36007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=35 WHERE CODE='50101';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5 WHERE CODE='24042';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='30019';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.7 WHERE CODE='18130';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=16.2 WHERE CODE='36002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.60 WHERE CODE='34004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='60012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=10 WHERE CODE='74001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='23008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='31007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=12.40 WHERE CODE='33017';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50043';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.9 WHERE CODE='74004';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=7.9 WHERE CODE='00212';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='31042';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35016';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.9 WHERE CODE='37006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.6 WHERE CODE='50055';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.30 WHERE CODE='72008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.2 WHERE CODE='00187';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=5.5 WHERE CODE='24062';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='31046';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=04.30 WHERE CODE='31002';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.80 WHERE CODE='33005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='32001';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=03.50 WHERE CODE='30011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.4 WHERE CODE='74006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=6.9 WHERE CODE='21014';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=4.4 WHERE CODE='35006';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.80 WHERE CODE='34007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=03.50 WHERE CODE='30012';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=09.30 WHERE CODE='72007';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=3.7 WHERE CODE='50057';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=05.80 WHERE CODE='33008';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=3.6 WHERE CODE='32011';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=07.60 WHERE CODE='34010';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=06.70 WHERE CODE='34005';
UPDATE [sch_mchn].[T_MACHINE_SPECIFICATION]  SET MACHINE_RATE=3.7 WHERE CODE='50056';
